@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.gallery-item {
  margin: 10px;
}

.gallery-item img {
  width: 300px; /* Adjust the width as needed */
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
}

.search {
  width: 100%;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  margin: 5px;
  height: 50px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}
